<!-- for the length of the experience -->
<!-- id number in loop -->

{{#if tagOne}}
	<p>

	    <input name="tagsCheckboxes" type="checkbox" class="filled-in" id="filled-in-box-tagOne" checked="checked" />
	    
	    <label for="filled-in-box-tagOne">{{tagOne}}</label>

	</p>
{{/if}}

{{#if tagTwo}}
	<p>

	    <input name="tagsCheckboxes" type="checkbox" class="filled-in" id="filled-in-box-tagTwo" checked="checked" />
	    
	    <label for="filled-in-box">{{tagTwo}}</label>

	</p>
{{/if}}

{{#if tagThree}}
	<p>

	    <input name="tagsCheckboxes" type="checkbox" class="filled-in" id="filled-in-box-tagThree" checked="checked" />
	    
	    <label for="filled-in-box">{{tagThree}}</label>

	</p>
{{/if}}