<main>
    <div class="container">
        <div class="containerCard">
            <div class="row">
                <form action="#" class="col s12">
                    <h5>Check tags</h5>
                    <p>related to the resume you would like to build</p>
                    
                    {{#each Experiences}}
                      {{> tables/tag-block}}
                    {{/each}}

                    {{#each Skills}}
                      {{> tables/tag-block}}
                    {{/each}}

                    <div class="row">
                        <div class="input-field col s12">
                            <button id="buildSubmitButton" class="btn waves-effect waves-light light-blue" type="submit" name="action">Submit Tags
                                <i class="material-icons right">check_circle</i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>