<main>
    <div class="container">
        <div class="containerCard">
            <div class="row">
                <div class="col s12">
                    <h5>Choose a tag to build your custom resume!</h5>
                    {{#each tags}}  
                    <a href="/resume/{{this.id}}/{{this.tag}}" class="waves-effect waves-light light-blue btn-large">{{this.tag}}</a>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    $(document).ready(function() {
        // add the active class to the correct tab
        $("#buildTab").addClass("active");

        var checkedTags = [];
        // for the length of the tags
            // if $("input[name=tagsCheckboxes]:checked")
            // checkedTags.push($("input[name=tagsCheckboxes]:checked").val()
    });
    </script>
</main>