<main>
    <div class="container">
        <div class="containerCard">
            <div class="row">
                <form id="myForm" class="col s12" data-id="{{user.id}}">
                    <h5>Job Information</h5>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="jobTitle" class="validate" type="text">
                            <label for="jobTitle">Job Title</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="location" type="text" class="validate">
                            <label for="location">Location</label>
                        </div>
                        <div class="input-field col s3">
                            <input id="startDate" class="datepicker" type="text">
                            <label for="startDate">Start Date</label>
                        </div>
                        <div class="input-field col s3">
                            <input id="endDate" type="text" class="datepicker">
                            <label for="endDate">End Date</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="jobDescription" class="materialize-textarea"></textarea>
                            <label for="jobDescription">Job Description</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <h5>Job Duties</h5>
                            <i id="jobDutySubmitButton" class="material-icons prefix">add_circle</i>
                            <input placeholder="add job duty" id="jobDuty" type="text" class="validate">
                            <ul class="collection">
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <h5>Tags for this Job</h5>
                            <p>(limit of three)</p>
                            <div id="experienceTags" class="chips chips-initial">
                            </div>
                        </div>
                    </div>
                    <button id="experienceSubmitButton" class="btn waves-effect waves-light light-blue" type="submit" name="action">submit experience
                        <i class="material-icons right">check_circle</i>
                    </button>
                </form>
            </div>
            <script type="text/javascript">
            $(document).ready(function() {
                // add the active class to the correct tab
                $("#experienceTab").addClass("active");
                // enable datepicker
                $('.datepicker').pickadate({
                    selectMonths: true, // Creates a dropdown to control month
                    selectYears: 15, // Creates a dropdown of 15 years to control year,
                    today: 'Today',
                    clear: 'Clear',
                    close: 'Ok',
                    closeOnSelect: false // Close upon selecting a date,
                });
                // enable tags
                $('.chips').material_chip();
                $('.chips-initial').material_chip({
                    // options combined from other classes/options
                    placeholder: ' ex: coding, art',
                    secondaryPlaceholder: ' ex: coding, art',
                    autocompleteOptions: {
                        data: {
                            'coding': null,
                            'art': null,
                            'music': null,
                            'education': null,
                            'hospitality': null,
                            'restuarant': null,
                            'teamwork': null,
                            'business': null,
                            'social': null,
                            'friendly': null,
                            'science': null,
                            'biology': null,
                            'cashier': null,
                            'phone': null
                        },
                        limit: Infinity,
                        minLength: 1
                    }
                });
                // limit the number of tags to three
                $('.chips').on('chip.add', function(e, chip) {
                    //set the data to the current amount
                    var tagData = $("#experienceTags").material_chip('data');
                    console.log(tagData);
                    // Check current number of tags/chips
                    if (tagData.length > 3) {
                        //if greater than three (4), take off the last one
                        tagData.splice(-1, 1);
                        console.log(tagData);
                        $('#experienceTags').material_chip({
                            data: [{
                                tag: tagData[0].tag,
                            }, {
                                tag: tagData[1].tag,
                            }, {
                                tag: tagData[2].tag,
                            }]
                        });
                    }
                });
                var jobDuties = [];
                // add the typed job duty to the collection
                $("#jobDutySubmitButton").on("click", function(event) {
                    event.preventDefault();
                    var newJobDuty = $("#jobDuty").val().trim();
                    jobDuties.push(newJobDuty);
                    $(".collection").append("<li class='collection-item'>" + newJobDuty + "</li>");
                    $("#jobDuty").val("");
                });
                // when the form is submitted
                $("#experienceSubmitButton").on("click", function(event) {
                    event.preventDefault();
                    console.log("click");
                    var id = $("#myForm").data("id");
                    var tagDataSubmit = $("#experienceTags").material_chip('data');
                    var job_duties = ""
                    for (let duty of jobDuties) job_duties += `|DUTY|${duty}`;
                    if (!tagDataSubmit[0]) {
                        alert("Please add a tag!");
                        return false;
                    }
                    var tag_one = tagDataSubmit[0].tag;
                    var tag_two = tagDataSubmit[1] ? tagDataSubmit[1].tag : "";
                    var tag_three = tagDataSubmit[2] ? tagDataSubmit[2].tag : "";
                    var newExperience = {
                        title: $("#jobTitle").val().trim(),
                        location: $("#location").val().trim(),
                        start_date: $("#startDate").val().trim(),
                        end_date: $("#endDate").val().trim(),
                        descript: $("#jobDescription").val().trim(),
                        duties: job_duties,
                        tagOne: tag_one,
                        tagTwo: tag_two,
                        tagThree: tag_three,
                        UserId: id 
                    };
                    $.post("/api/work", newExperience, (res)=>{
                        console.log(res);
                        alert("New work experience added!");
                        location.reload();
                    });
                });
            });
            </script>
        </div>
    </div>
</main>