<main>
    <div class="container">
        <div class="containerCard">
            <div class="row">
                <form class="col s12">
                    <p>Hello, {{user.firstName}}<p>

                    <h5>Job Information</h5>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="jobTitleIdNumber" class="validate" type="text">
                            <label for="jobTitleIdNumber">Job Title</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="locationIdNumber" type="text" class="validate">
                            <label for="locationIdNumber">Location</label>
                        </div>
                        <div class="input-field col s3">
                            <input id="startDateIdNumber" class="datepicker" type="text">
                            <label for="startDateIdNumber">Start Date</label>
                        </div>
                        <div class="input-field col s3">
                            <input id="endDateIdNumber" type="text" class="datepicker">
                            <label for="endDateIdNumber">End Date</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="jobDescriptionIdNumber" class="materialize-textarea"></textarea>
                            <label for="jobDescriptionIdNumber">Job Description</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <h5>Job Duties</h5>
                            <i id="jobDutySubmitButton" class="material-icons prefix">add_circle</i>
                            <input placeholder="add job duty" id="jobDutyIdNumber" type="text" class="validate">
                            <ul class="collection">
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <h5>tags for this job</h5>
                            <div class="chips chips-initial">
                            </div>
                        </div>
                    </div>
                    <button id="experienceSubmitButton" class="btn waves-effect waves-light light-blue" type="submit" name="action">submit experience
                        <i class="material-icons right">check_circle</i>
                    </button>
                </form>
            </div>
            <script type="text/javascript">
            $(document).ready(function() {
                // add the active class to the correct tab
                $("#experienceTab").addClass("active");

                // enable datepicker
                $('.datepicker').pickadate({
                    selectMonths: true, // Creates a dropdown to control month
                    selectYears: 15, // Creates a dropdown of 15 years to control year,
                    today: 'Today',
                    clear: 'Clear',
                    close: 'Ok',
                    closeOnSelect: false // Close upon selecting a date,
                });

                // enable tags

                $('.chips').material_chip();

                $('.chips-initial').material_chip({
                    data: [{
                        tag: 'valueAlreadyEntered',
                    }, {
                        tag: 'valueAlreadyEntered',
                    }],

                    // options combined from other classes/options
                    placeholder: ' ex: coding, art',
                    autocompleteOptions: {
                        data: {
                            'Apple': null,
                            'Microsoft': null,
                            'Google': null
                        },
                        limit: Infinity,
                        minLength: 1
                    }
                });

                // Use this to access the chip data
                // $('.chips-initial').material_chip('data');

                /*$('.chips').on('chip.add', function(e, chip){
        // Check current number of tags/chips - disable if need
        });

        $('.chips').on('chip.delete', function(e, chip){
            // Enable again
        });*/

                var newJobDuty = [];

                // add the typed job duty to the collection
                $("#jobDutySubmitButton").on("click", function(event) {
                    event.preventDefault();
                    var jobDuty = $("#jobDutyIdNumber").val().trim();
                    newJobDuty.push(jobDuty);
                    $(".collection").append("<li class='collection-item'>" + jobDuty + "</li>");
                });

                //submit form (post method) and clear input

            });
            </script>
        </div>
    </div>
</main>