<main>
    <div class="container">
        <div class="containerCard">
            <div class="row">
                <form id="myForm" class="col s12" data-id="{{user.id}}">
                    <div class="row">
                        <div class="input-field col s12">
                            <h5>Skills</h5>
                            <form>
                                <i id="skillSubmitButton" class="material-icons prefix">add_circle</i>
                                <input placeholder="Add A Skill" id="skillForCollection" type="text" class="validate">
                            </form>
                            <ul class="collection"></ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <h5>Tags for this Skill</h5>
                            <p>limit of three</p>
                            <div id="skillTags" class="chips chips-initial">
                            </div>
                        </div>
                    </div>
                    <button id="skillSubmit" class="btn waves-effect waves-light light-blue" type="submit" name="action">Submit Skill
                        <i class="material-icons right">check_circle</i>
                    </button>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    $(document).ready(function() {
        // add the active class to the correct tab
        $("#skillsTab").addClass("active");

        // enable tags
        $('.chips').material_chip();
        $('.chips-initial').material_chip({
            // options combined from other classes/options
            placeholder: ' ex: coding, art',
            secondaryPlaceholder: ' ex: coding, art',
            autocompleteOptions: {
                data: {
                    'coding': null,
                    'art': null,
                    'music': null,
                    'education': null,
                    'hospitality': null,
                    'restuarant': null,
                    'teamwork': null,
                    'business': null,
                    'social': null,
                    'friendly': null,
                    'science': null,
                    'biology': null,
                    'cashier': null,
                    'phone' : null
                },
                limit: Infinity,
                minLength: 1
            }
        });

        // limit the number of tags to three
        $('.chips').on('chip.add', function(e, chip) {
            //set the data to the current amount
            var tagData = $("#skillTags").material_chip('data');
            console.log(tagData);

            // Check current number of tags/chips
            if (tagData.length > 3) {
                //if greater than three (4), take off the last one
                tagData.splice(-1, 1);
                console.log(tagData);
                $('#skillTags').material_chip({
                    data: [{
                        tag: tagData[0].tag,
                    }, {
                        tag: tagData[1].tag,
                    }, {
                        tag: tagData[2].tag,
                    }]
                });
            }
        });

        var newSkill = [];
        // add the typed skill to the collection
        $("#skillSubmitButton").on("click", function(event) {
            event.preventDefault();
            var skill = $("#skillForCollection").val().trim();
            newSkill.push(skill);
            $(".collection").append("<li class='collection-item'>" + skill + "</li>");
            $("#skillForCollection").val("");
        });

        console.log(newSkill)

        //submit form (post method) and clear inputs
        $("#skillSubmit").on("click", function(event) {
            event.preventDefault();
            console.log("click");
            var id = $("#myForm").data("id");
            var tagDataSubmit = $("#skillTags").material_chip('data');
            var skills = ""
            for (let skill of newSkill) skills += `|SKILL|${skill}`;
            var tag_one = tagDataSubmit[0] ? tagDataSubmit[0].tag : "";
            var tag_two = tagDataSubmit[1] ? tagDataSubmit[1].tag : "";
            var tag_three = tagDataSubmit[2] ? tagDataSubmit[2].tag : "";
            var newSkills = {
                skill: skills,
                tagOne: tag_one,
                tagTwo: tag_two,
                tagThree: tag_three,
                UserId: id 
            };
            $.post("/api/experience", newSkills, (res)=>{
                console.log(res);
                alert("New skill added!");
                location.reload();
            });
        });
    });
    </script>
</main>